/* Urbanist Variable Font */
@font-face {
  font-family: "Urbanist";
  src: url("./urbanist/Urbanist-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  /* Add more font-variation-settings if needed */
}

/* Urbanist Variable Font Italic */
@font-face {
  font-family: "Urbanist";
  src: url("./urbanist/Urbanist-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
  /* Add more font-variation-settings if needed */
}
