/* index.css */
@import url("../global-assets/fonts/urbanist.css");

:root {
  font-family: Urbanist;
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-size: 10px;
}
