/* index.css */
@import url("../global-assets/fonts/urbanist.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: inherit;
  font-size: inherit;
  color: initial;
}

:root {
  font-family: Urbanist;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

:root {
  --border: 0.2rem solid lightgray;
  --btn-hot-border: none;
  --border-thin: 0.05rem solid lightgray;
  --border-teal: 0.2rem solid teal;
  --border-thin-teal: 0.05rem solid teal;
}
